/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  --ion-color-primary: #6C757D;
}

.poppins {
  font-family: "Poppins", sans-serif !important;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: #f4f4f4;
}

::-webkit-scrollbar-thumb {
  border-radius: 20px !important;
  background-color: var(--ion-color-primary);
}
  