/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  --ion-color-primary: #003049;
  --ion-color-secondary: #0f5999cc;
}

.poppins {
  font-family: "Poppins", sans-serif !important;
}